body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
}
/* link */
a, a:hover{
    text-decoration: none !important;
}

sup {
    font-size: 0.5em !important;
}
/* button */
.btn {
    border-width: 2px;
    border-radius: 40px !important;
}

.btn:hover {
    border: 2px solid #999;
    box-shadow: inset 0px 0px 0px 2px white;
}

.btn-primary, .btn-primary:hover {
    background-color: #2d64e6;
    border-color: #2d64e6;
}

.btn-secondary {
    background-color: #363636 !important;
    border-color: #363636 !important;
}
.btn-secondary:hover {
    background-color: #5c636a;
    border-color: #5c636a;
}

.btn-danger {
    background-color: #cd3d0f !important;
    border-color: #cd3d0f !important;
}
.btn-danger:hover {
    background-color: #cd3d0f;
    border-color: #cd3d0f;
    box-shadow: inset 0px 0px 0px 2px #000;
}

.btn-light {
    background-color: white;
    border-color: white;
}
.btn-light:hover {
    background-color: white;
    border-color: white;
    box-shadow: inset 0px 0px 0px 2px #161c3b;
}

.btn-light2 {
    background-color: #d9dadc !important;
    border-color: #d9dadc;
    color: #2d64e6 !important;
}
.btn-light2:hover {
    background-color: #d9dadc;
    border-color: #d9dadc;
    box-shadow: 0px 0px 0px 3px rgba(217, 218, 220, .3);
    color: #2d64e6;
}
/* header */
header{
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    background-color: white;
}

#cs-headup{
    height: 36px;
    background-color: black;
}

#cs-headup img{
    width: 75px;
    margin-right: 10px;
}

header nav{
    height: 64px;
}
header .nav-item:not(.cs-cerca){
    margin-right: 10px;
}

header .navbar-light .navbar-nav .nav-link {
    color: #000;
}
header .navbar-light .navbar-nav .nav-link:hover,  header .navbar-light .navbar-nav .nav-link.show {
    color: #0070d1;
}
header nav .cs-cerca {
    margin-left: 10px;
}
header nav .cs-cerca img {
    height: 23px;
}

@media screen and (max-width: 991px) {
    header .navbar .container-fluid {
        background-color: white;
    }
    header .nav-item:not(.cs-cerca){
        margin-right: 0;
    }
    header .dropdown-menu {
        width: 100%;
        text-align: left;
        border-top: solid 1px #999;
        border-bottom: solid 1px #999;
        border-radius: 0;
    }
    header nav .cs-cerca {
        margin: 15px 0;
        border: solid 1px #999;
    }
    header nav .cs-cerca img {
        height: 35px;
    }
    header .btn {
        margin-top: 15px;
        width: 50%;
    }
}
/* jumbo-display */
.jumbo-display {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
}

.jumbo-display img {
    max-width: 60%;
    margin-bottom: 30px;
}

.jumbo-display h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}
.jumbo-display p{
    margin-bottom: 30px;
}
/* griglia-jumbo */
.griglia-jumbo {
    padding: 30px 0;
}
.griglia-jumbo a img {
    max-width: 100%;
    border-radius: 20px;
}

#jumbo-1 .jumbo-display {
    background-image: url(../img/jumbo-bg.png);
    padding: 250px 0 50px 0;
    color: white;
}

#jumbo-1 .griglia-jumbo a img {
    padding: 3px;
    background-color: white;
    border: solid 2px transparent;
    position: relative;
    top: 0;
    transition: all 0.4s ease-in-out;
}
#jumbo-1 .griglia-jumbo a:hover img {
    top: -10px;
}

#jumbo-1  .griglia-jumbo .cs-active {
    border-color: #0072ce;
}

/* jumbo 2 */
#jumbo-2 .jumbo-display {
    background-image:url(../img/it-takes-two-hero-banner-desktop.jpg);
    padding: 50px 0;
    color: white;
}
#jumbo-2 .griglia-jumbo{
    background-color: #1f1f1f;
    color: white;
}

#jumbo-2 h3 {
    font-size: 2rem;
    margin-bottom: 20px;
}
#jumbo-2 h4 {
    font-size: 1.5rem;
}
#jumbo-2 .griglia-jumbo a span {
    display: block;
    margin-top: 10px;
    color: white;
}
/* jumbo-3 */
#jumbo-3 .jumbo-display {
    background-image: none;
    background-color: #bebcbb;
    padding: 0;
    color: #1f1f1f;
}
/* jumbo-4 */
#jumbo-4 .jumbo-display {
    background-image: none;
    background-color: #161c3b;
    padding: 0;
    color: white;
}

/* ps5 */
#jumbo-3 .container-img, #jumbo-4 .container-img,
#ps5 .container-img {
    max-width: initial;
    width: 100%;
    margin-bottom: 0;
}

#ps5 .jumbo-display {
    background-image: none;
    background-color: transparent;
    padding:0;
    color: #1f1f1f;
}
#ps5 .jumbo-display p {
    font-size: 1.2rem;
    color: #727272;
}

#ps5-griglia {
    margin: 35px 0;
}
#ps5-griglia a {
    display: block;
    height: 100%;
    padding-bottom: 5px;
    opacity: .7;
    transition: all 0.5s ease-in-out;
}
#ps5-griglia a:hover {
    opacity: 1;
}
#ps5-griglia a.cs-active {
    border-bottom: solid 2px #0072ce;
    opacity: 1;
}
#ps5-griglia img {
    max-width: 50%;
    margin-bottom: 10px;
}
#ps5-griglia span {
    color: #1f1f1f;
}

@media screen and (max-width:767px) {
#ps5 .jumbo-display {
    padding-bottom: 0;
    }
#ps5-griglia {
    margin: 0;
    }
#ps5-griglia img {
    max-width: 100%;
    }

}

/* ps4 */
#ps4 {
    margin-bottom: 70px;
}

#ps4 .griglia-jumbo h3 {
    font-size: 2.3rem;
    color: #1f1f1f;
    margin-bottom: 20px;
}
#ps4 .griglia-jumbo p {
    font-size: 1.3rem;
    color: #727272;
    margin-bottom: 20px;
}

/* social */
#sconti-ps {
    margin-bottom: 30px;
}

#social {
    max-width: 580px;
    margin: 50px auto;
}
#social .titolo h2 {
    font-size: 2rem;
}

.griglia img {
    max-width: 100%;
}
/* titoli */
.titolo {
    text-align: center;
    margin: 70px 0;
    color: #1f1f1f;
}
.titolo h5 {
    color: #0072ce;
    font-size: .9rem;
    margin-bottom: 0;
    text-transform: uppercase;
}
.titolo h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}
.titolo h4 {
    font-size: 1.3rem;
    color: #727272;
}

/* footer */
footer{
    background-color: #00439c;
    padding: 80px 0;
    font-size: 0.9rem;
    font-weight: 400;
}

footer a, footer a:hover {
    color: white;
}

footer .logo {
    width: 96px;
    display: block;
    margin-bottom: 40px;
}
#country {
    width: 20px;
    margin-right: 10px;
}

footer li {
    list-style-type: none;
    margin-bottom: 10px;
}
/* info */
#info{
    color: white;
}

#info a, #info a:hover{
    text-decoration: underline !important;
}

#info img {
    height: 48px;
    margin-bottom: 10px;
}